body {
    font-family: "system-ui", sans-serif;
    color: #1D1D1D;
    background-color: #F5F5F5;
}

.container {
    max-width: 360px;
    width: 100%f;
    margin: 0 auto;
}

/* HEADER START */

.filters-container {
    background-color: #EBEBEB;
    padding: 4px;
    border-radius: 100px;
    max-width: 350px;
    width: 100%;
    margin: 20px auto 20px auto;
}

.filters-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 500;
}

.filter {
    cursor: pointer;
    border-radius: 100px;
    padding: 8px 16px;
}

.filter.active {
    background-color: #FFFFFF;
}

/* HEADER END */

/* MAIN START */

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    row-gap: 20px;
}

.card {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0.2rem 0.4rem 12rem rgb(0 0 0 / 8%);
    padding: 32px;
}

/* Introduction */

#introduction {
    display: flex;
    flex-direction: column;
}

.intro-greeting {
    font-size: 1.5rem;
    font-weight: 500;
}

.intro-heading {
    font-size: 2rem;
    font-weight: 700;
    padding: 5px 0;
    margin: 5px 0;
    background: -webkit-linear-gradient(45deg, #419AF2, #4FA9F2, #5EB9F1, #6CC8F1, #7BD8F0, #89E7F0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-info {
    font-size: 1.125rem;
    line-height: 1.5;
}

/* Introduction */

/* Skills */

#skills {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skills-heading {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    
}

.current-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}


.tech-skill {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 60px;
    text-align: center;
}

.skills-icon {
    height: 60px;
    width: 60px;
}

/* Skills */

/* Projects */

.project-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.project-gif {
    width: 100%;
    border-radius: 32px;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.button-link {
    display: flex;
    padding: 4px;
    background: linear-gradient(45deg, #419AF2, #4FA9F2, #5EB9F1, #6CC8F1, #7BD8F0, #89E7F0);
    border-radius: 100px;
}

.button-link > a {
    text-decoration: none;
    background-color: white;
    color: #1D1D1D;
    font-weight: 700;
    border-radius: 100px;
    padding: 8px 16px;
}

/* Projects */

.media-icon {
    height: 100%;
    width: 100%;
}

/* MAIN END */